<div class="flex items-center justify-center w-20 mb-4 h-20 bg-transparent cursor-pointer border-white border-2 rounded-xl bg-white bg-opacity-0 hover:bg-opacity-25 duration-300">
  <span> ❌ </span>
</div>