<div class="relative flex items-start">
  <div class="flex h-6 items-center">
    <%= check_box_tag :topping_name,
      topping.name,
      false,
      data: { action: "change->searchable-dropdown#select" },
      class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
  </div>
  <div class="ml-3 text-sm leading-6">
    <%= label_tag :topping_name, topping.name, class: "font-medium text-gray-900" %>
  </div>
</div>