<li id="<%= dom_id(tweet) %>" class="relative bg-white py-5 px-4 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 hover:bg-gray-50">
  <div class="flex justify-between space-x-3">
    <div class="min-w-0 flex-1 flex items-center">
      <div class="flex-shrink-0">
        <img class="h-12 w-12 rounded-full" src="<%= Faker::LoremFlickr.image(size: "100x100", search_terms: ['star wars']) %>" alt="">
      </div>
      <div class="min-w-0 flex-1 ml-2">
        <p class="truncate text-sm font-medium text-gray-900"><%= tweet.handle %></p>
      </div>
    </div>
    <time datetime="2021-01-27T16:35" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">1d ago</time>
  </div>
  <div class="mt-1">
    <p class="text-sm text-gray-600 line-clamp-2">
      <%= tweet.content %>
    </p>
  </div>
</li>
