<%= turbo_frame_tag "new_tweet" do %>
  <div class="flex">
    <div class="m-2 w-10 py-1">
      <img class="inline-block h-10 w-10 rounded-full" src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="" />
    </div>
    <div class="flex-1 px-2 pt-2 mt-2">
      <p>
        <%= @tweet.content %>
      </p>
    </div>                    
  </div>
<% end %>

