<div
  id="<%= dom_id(user) %>"
  class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
  <div class="flex-shrink-0">
    <%= image_tag "#{user.username}.jpeg", class: "h-10 w-10 rounded-full object-cover" %>
  </div>
  <div class="min-w-0 flex-1">
    <a href="#" class="focus:outline-none">
      <span class="absolute inset-0" aria-hidden="true"></span>
      <p class="text-sm font-medium text-gray-900"><%= user.username %></p>
      <p class="truncate text-sm text-gray-500"><%= user.email %></p>
    </a>
  </div>
</div>