<div class="relative mb-10">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
    <span class="bg-white px-3 text-lg font-medium text-gray-900"><%= title %></span>
  </div>
</div>
