<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20">
  <%= render "shared/divider", title: "Day 1/30 - Multiple Select" %>

  <div class="mx-auto max-w-md my-20">
    <%= turbo_frame_tag "multiple_select", src: multiple_select_path %>
  </div>

  <%= render "shared/divider", title: "Day 2/30 - Online users" %>

  <div class="mx-auto max-w-2xl my-20">
    <%= turbo_frame_tag "online_users_frame", src: online_users_path %>
  </div>
</div>
